.container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	pointer-events: none;
}

.container::before {
	content: "";
	position: absolute;
	top: -10vh;
	left: -20vw;
	width: 140vw;
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;
	height: 32vh;
	z-index: -1;
	background: linear-gradient(
		to bottom,
		var(--color-secondary) 40%,
		transparent 100%
	);
	filter: blur(32px);
	opacity: min(calc(var(--scroll-pixels, 0) * 0.009), 1);
}

.blur {
	--scale: calc(1 - (var(--index) * 0.1));
	--width: calc(160vw - (var(--index) * 4vw));
	--height: calc(18vh - (var(--index) * 1vh));
	--blur: calc((var(--index) * 0.3px));

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-bottom-left-radius: 100%;
	border-bottom-right-radius: 100%;

	width: var(--width);
	height: var(--height);
	backdrop-filter: blur(var(--blur));
	/* background-color: hsla(calc(var(--index) * 20), 100%, 40%, 0.1); */
	z-index: calc(32 - var(--index));
	opacity: min(calc(var(--scroll-pixels, 0) * 0.009), 1);
}
