.pageTransition {
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: blur(12px);
	transition: opacity 0.8s cubic-bezier(0.2, 1, 0.2, 1), filter 1.2s
		cubic-bezier(0.2, 1, 0.2, 1);
}

.visible {
	opacity: 1;
	filter: blur(0px);
}

.pageTransition:not(.visible) {
	transition-duration: 0.4s;
}
